<a href="/logout">Logout</a>

<h1>Welcome</h1>

DID: {{did}}
Name: {{name}}

<form>
  <div><input type="text" id="claimType"/></div>
  <div><input type="text" id="claimValue"/></div>
  <div><input type="button" id="sendVC"/></div>
</form>